/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #797979;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 2em;
    display: flex;
    position: relative;
    border-color: aqua;
}

main ul{
    list-style: none;
}

.user-info {
    position: absolute;
    float: right;
    top: 1em;
    right: 1em;
    display: flex;
    align-items: center;
    font-size: large;
    background-color: #333;
    color: #f4f4f4;
}

.user-info img {
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
    border-radius: 50%;
}

.login-form {
    position: absolute;
    display: flex;
    top: 1em;
    right: 1em;
    display: flex;
    align-items: center;
}

.login-form input {
    padding: 0.3em;
    margin: 0 0.5em;
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
}

.login-form button {
    padding: 0.3em 0.6em;
    background-color: #ccc;
    width: auto;
    height: auto;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#logout-button{
    padding: 0.3em 0.6em;
    width: auto;
    height: auto;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: none;
    visibility: none;
}

#avatar { 
    visibility: hidden; 
    display: none; 
}

.bitcoin {
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.ethereum {
    border-radius: 100%;
    width: 25px;
    height: 35px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    text-align: left;
}

.grid-item {
    font-size: 20px;
    text-align: left;
    margin-left: 30px;
    justify-items: left;
}

footer {
    position: fixed;
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
}

img.github {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 2px;
    float: right;
}

img.linkedin {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 2px;
    float: right;
}

.refer-p {
    padding: 4px;
    float: right;
}
