/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #797979;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
}

nav a {
    box-shadow: inset 0 0 0 0 #333;
    text-decoration: none;
    color: white;
    transition: color .1s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
    box-shadow: inset 100px 0 0 0 #333;
    color: white;
  }

main {
    padding: 2em;
    display: flex;
    position: relative;
}

#login-logo {
    background-image: url(images/login.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-color: #333;
    position: absolute;
    top: 20px;
    right: 35px;
    float: right;
}

.login-popout {
    border: #fff;
    background-color: #333;
    display: none;
    position: absolute;
    z-index: 1;
    top: 45px;
    right: 35px;
    height: auto;
    width: auto;
    align-items: center;
}

.login-popout input {
    height: 30px;
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    justify-content: center;
}

.login-popout button {
    padding: 5px 5px;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.user-info {
    position: absolute;
    float: right;
    top: 1em;
    right: 1em;
    display: flex;
    align-items: center;
    font-size: large;
    background-color: #333;
    color: #f4f4f4;
}

.user-info img {
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
    border-radius: 50%;
}

#logout-button{
    padding: 0.3em 0.6em;
    width: auto;
    height: auto;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: none;
    visibility: none;
}

#logout-button:hover {
    background-color: #ddd;
}

#avatar { 
    visibility: hidden; 
    display: none; 
}

.bitcoin {
    border-radius: 100%;
    width: 30px;
}

.ethereum {
    border-radius: 100%;
    width: 30px;
}

.solana {
    border-radius: 100%;
    width: 30px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    text-align: left;
}

.grid-item {
    font-size: 3vw;
    margin-left: 1vw;
    text-align: left;
    justify-items: left;
}

.grid-item h1 {
    margin: 5px;
}

footer {
    position: fixed;
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
}

img.github {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 2px;
    float: right;
}

img.linkedin {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 2px;
    float: right;
}

.refer-p {
    padding: 4px;
    float: right;
}


.container-contact {
background-color: #333;
border-radius: 5px;
padding: 20px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
width: 400px;
}


.container-contact label, .container-contact h2 {
    color: #fff;
}

.container-contact input, .container-contact textarea {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 3px;
background-color: #ccc;
}

.container-contact button {
background-color: #ccc;
border: none;
padding: 10px 20px;
border-radius: 3px;
cursor: pointer;
}

.container-contact button:hover {
background-color: #ddd;
}